body {
    margin: 0px;
    padding:0px;
}
nav {
   /* background-image: url(../assets/fondonav.jpeg); */
    padding: 0%;
    margin: 0px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 40px; 
    padding-top: 20px;
    padding-bottom: 30px;
}
nav ul li{
    display: inline;
    font-weight: bold;
    font-size: 20px;
    padding-inline: 10px;
    font-family: 'Oswald', sans-serif;
    padding-top: 100px;
    padding-left: 30px;
    padding-bottom: 5rem;
    margin-bottom: 30px;
}
nav ul {
    padding-bottom: 5rem;
    margin-left: 100px;
    padding-bottom: 5rem;
    margin-bottom: 30px;
    padding-left: 200px;
    padding-bottom: 40px;
    position: block;
}
    
.ul-nav {
    padding-left: 300px;
    padding-bottom: 70px;
    position: block;
}

.t {
    font-size: 40px;
    font-weight: 1000;
    padding-bottom: 4rem; 
    font-family: 'Oswald', sans-serif;
    padding-bottom: 80px;  
    position: absolute;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}


.inicio {
    background-image: url(../assets/fondo1.jpg); 
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 300px;
    padding-bottom: 300PX;
    position: block;

}

.inicio p {
    color: white;
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    padding: 0px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

.inicio .subt {
    text-align: center;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
}

.final p {
    background-color: #F2E205;
    padding: 40px 90px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.final div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-inline: 40px;
    height: 800px;
}
.video {
    height:700px;
}



main {
    background-image: url(../assets/fondonav.jpeg);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}



.servicios {
    display: flex;
    flex-direction: row
}
.servicios img {
    width: 300px;
    height: 300px;
    padding-top: 100px;
}
.servicios .pr {
    padding-top: 20px;
}
.servicios div {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.servicios div p {
font-size: 30px;
font-weight: 500;
font-family: 'Oswald', sans-serif;
padding-bottom: 100px;
}

.qs {
    font-size: 30px;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 15rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.re {
    font-size: 20px;
    margin: 0rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-left: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 10px;
}
#galeria img {
    width: 200px;
    height: 200px;
}

#galeria img:hover {
    border: 5px solid #f7f7f7;
}

.np {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 40px;
    margin: 0px;
    padding-bottom: 0px; 
}

footer div {
    align-items: center;
}

footer p {
            text-align: center;
}

footer img {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    padding-top: 10px;
    position: static;
}
footer {
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100px; 
    font-size: 20px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
footer ul li {
list-style-type: NONE;
}

footer ul {
    margin: 0px;
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px;
}

.h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.m-form {
    padding-bottom: 300px;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}

/* ============= Notebook y Tablets ===============*/
@media (min-width: 768px) and (max-width: 1440px) {

    /*== Nav ==*/

nav {
background-image: url(../assets/fondonav.jpeg);
padding: 0%;
margin: 0px;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 40px; 
padding-top: 10px;
}

nav ul li {
display: inline;
font-weight: bold;
font-size: 15px;
padding-inline: 5px;
font-family: 'Oswald', sans-serif;
padding-top: 5px;
padding-left: 10px;
padding-bottom: 5rem;
margin-bottom: 30px;
}

nav ul {
margin-left: 100px;
margin-bottom: 30px;
padding-left: 100px;
padding-bottom: 40px;
}

.ul-nav {
padding-left: 100px;
padding-bottom: 80px;
position: block;
}

.t {
padding-top: 10px;
font-size: 30px;
font-weight: 1000;
padding-bottom: 4rem; 
font-family: 'Oswald', sans-serif;
padding-bottom: 80px;  
position: absolute;
}

/*====== VIDEO =======*/

.final p {
    background-color: #F2E205;
    padding: 40px 90px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.final div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-inline: 0px;
    height: 800px;
}
.video {
    height:300px;
}

.vid {
    width: 250px;
}


/*======== footer ==========*/

footer div {
    align-items: center;
}

footer p {
            text-align: center;
}

footer img {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    padding-top: 10px;
    position: static;
}
footer {
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100px; 
    font-size: 20px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
footer ul li {
list-style-type: NONE;
}

footer ul {
    margin: 0px;
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px;
}
.red {
    font-size: 18px;
    }
.ft {
        font-size: 18px;
    }

/* ============Servicios===============*/
.servicios {
    display: flex;
    flex-direction: row
}
.servicios img {
    width: 200px;
    height: 200px;
    padding-top: 30px;
}
.servicios .pr {
    padding-top: 10px;
}
.servicios div {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.servicios div p {
font-size: 15px;
font-weight: 500;
font-family: 'Oswald', sans-serif;
padding-bottom: 100px;
}

.qs {
    font-size: 30px;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 15rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.re {
    font-size: 20px;
    margin: 0rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-left: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
}




/* ============= Celulares en horizontal ===============*/
@media (max-width: 767px) {

    /*== Nav ==*/

nav {
background-image: url(../assets/fondonav.jpeg);
padding: 0%;
margin: 0px;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 40px; 
padding-top: 2px;
padding-bottom: 6px;
}

nav ul li {
display: inline;
font-weight: bold;
font-size: 10px;
padding-inline: 5px;
font-family: 'Oswald', sans-serif;
padding-top: 10px;
padding-left: 0px;
padding-bottom: 5rem;
margin-bottom: 30px;
}

nav ul {
margin-left: 60px;
margin-bottom: 90px;
padding-left: 100px;
padding-bottom: 60px;
}

.ul-nav {
padding-left: 70px;
padding-bottom: 70px;
position: block;
}

.t {
padding-top: 6px;
font-size: 25px;
font-weight: 1000;
padding-bottom: 4rem; 
font-family: 'Oswald', sans-serif;
padding-bottom: 80px;  
position: absolute;
}



/*======== TITULO =============*/

.inicio p {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding: 0px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

.inicio .subt {
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/*====== VIDEO =======*/

.final p {
    background-color: #F2E205;
    padding: 40px 90px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.final div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-inline: 0px;
    height: 800px;
}
.video {
    height:300px;
}

.vid {
    width: 120px;
}

.final p {
    background-color: #F2E205;
    padding: 40px 50px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}


/*======== footer ==========*/

footer div {
    align-items: center;
}

footer p {
            text-align: center;
}

footer img {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    padding-top: 10px;
    position: static;
}
footer {
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100px; 
    font-size: 13px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
footer ul li {
list-style-type: NONE;
}

footer ul {
    margin: 0px;
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px;
}
.red {
    font-size: 13px;
    }
.ft {
        font-size: 13px;
}


/* ============Servicios===============*/
.servicios {
    display: flex;
    flex-direction: row
}
.servicios img {
    width: 600px;
    height: 600px;
    padding-top: 100px;
}
.servicios .pr {
    padding-top: 20px;
}
.servicios div {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.servicios div p {
font-size: 40px;
font-weight: 500;
font-family: 'Oswald', sans-serif;
padding-bottom: 100px;

}
.qs {
    font-size: 30px;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 15rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.re {
    font-size: 20px;
    margin: 0rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-left: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
}

/* ============= Celulares en vertical ===============*/
@media (min-width: 360px) and (max-width: 766px) {
    /*== Nav ==*/

nav {
background-image: url(../assets/fondonav.jpeg);
padding: 0%;
margin: 0px;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 40px;
padding-top: 1px;
padding-bottom: 10px;
}

nav ul li {
display: inline;
font-weight: bold;
font-size: 7px;
padding-inline: 1px;
font-family: 'Oswald', sans-serif;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 5rem;
margin-bottom: 30px;

}

nav ul {
margin-left: 40px;
margin-bottom: 90px;
padding-left: 100px;
padding-bottom: 60px;
}

.ul-nav {
padding-left: 50px;
padding-bottom: 10px;
position: block;
}

.t {
    padding: 0px;
padding-top: 12px;
font-size: 19px;
font-weight: 1000;
padding-bottom: 4rem; 
font-family: 'Oswald', sans-serif;
padding-bottom: 80px;  
position: absolute;
margin-right: 1px;
padding-left: 2px;
}



/*======== TITULO =============*/
.inicio {
    background-image: url(../assets/fondo1.jpg); 
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150PX;
    position: block;

}
.inicio p {
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    padding: 0px;
    margin: 5px;
    font-family: 'Oswald', sans-serif;
}

.inicio .subt {
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/*====== VIDEO =======*/

.final p {
    background-color: #F2E205;
    padding: 40px 90px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.final div {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-inline: 0px;
    height: 800px;
}
.video {
    height:300px;
}

.vid {
    width: 120px;
}

.final p {
    background-color: #F2E205;
    padding: 40px 50px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}


/*======== footer ==========*/

footer div {
    align-items: center;
}

footer p {
            text-align: center;
}

footer img {
    height: 20px;
    width: 20px;
    padding-left: 0px;
    padding-top: 10px;
    position: static;
}
footer {
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100px; 
    font-size: 20px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
footer ul li {
list-style-type: NONE;
}

footer ul {
    margin: 0px;
    background-image: url(../assets/fondonav.jpeg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 150px;
    padding-left: 0px;
}
.red {
font-size: 10px;
}
.ft {
    font-size: 10px;
}

/* ============Servicios===============*/
.servicios {
    display: flex;
    flex-direction: row
}
.servicios img {
    width: 100px;
    height: 100px;
    padding-top: 50px;
}
.servicios .pr {
    padding-top: 10px;
}
.servicios div {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 40px;
}
.servicios div p {
font-size: 10px;
font-weight: 500;
font-family: 'Oswald', sans-serif;
padding-bottom: 20px;
}

/*=============== QUIENES SOMOS =====================*/
.qs {
    font-size: 15px;
    margin-top: 0rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.re {
    font-size: 10px;
    margin: 0rem;
    padding-bottom: 4rem;
    padding-top: 3rem;
    padding-left: 1rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}


}
