#logotipo{
	animation-name: logoAnimado;
	position: relative;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes logoAnimado{
	0%{top:0}
	25%{top:2rem}
	50%{top:0}
	75%{top:2rem}
	100%{top:0}
}