@media (max-width: $tablet) {



    header {
    nav {
        .t{
            padding-top: 10px;
            font-size: 30px;
            font-weight: 1000;
            padding-bottom: 4rem; 
            font-family: 'Oswald', sans-serif;
            padding-bottom: 80px;  
            position: absolute;
        }
    ul {
        padding-bottom: 5rem;
        margin-left: 100px;
        padding-bottom: 5rem;
        margin-bottom: 30px;
        padding-left: 200px;
        padding-bottom: 40px;
        position: block;
        padding-left: 300px;
        padding-bottom: 70px;
        position: block;
        li {
            display: inline;
            font-weight: bold;
            font-size: 20px;
            padding-inline: 10px;
            font-family: 'Oswald', sans-serif;
            padding-top: 100px;
            padding-left: 30px;
            padding-bottom: 5rem;
            margin-bottom: 30px;
            a {
                text-decoration: none;
                cursor: pointer;
                &:visited {
                    color: black;
                }
                &:link {
                    color: black;
                }
            }
        }
    }
}
    }
}



